:host {
  padding: 3rem;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  * {
    margin: 0.8rem;
    flex: 100%;
    // width: 100%;
    @media screen and (min-width: 600px) {
      flex: 40%;
    }
    @media screen and (min-width: 800px) {
      flex: 30%;
    }
    @media screen and (min-width: 1024px) {
      flex: 20%;
      margin-right: 15px;
    }
  }
}
